
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #222;
    font-family: "Montserrat", sans-serif;
    padding-top: 5.5em;
}

header {
    font-weight:500;
    font-size: 1.2em;
}

header .cart-button {
  color: #111;
  font-weight:500;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
}

header .cart-button:hover {
  color: #B3916F;
  background: none;
}

header .cart-button.active {
  color: #555;
  background: none;
}

.carousel-img {
  height: 35em;
  object-fit: cover;
  filter: brightness(60%);
  object-position: center;
}

.carousel-title {
  font-weight:300;
  font-size: 2.5em;
  margin-bottom: 2.5em;
}

.carousel-caption-custom {
  bottom: 20%;
}

.text-body {
  color: #222 !important;
  text-decoration: none;
}

.card-img-top {
  object-fit: cover;
  height: 20em;
}

.shop-card {
  border: none;
  border-radius: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.shop-card:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

.card-img-bottom {
  object-fit: cover;
  height: 15em;
  padding: 0.7em;
  transition: transform 0.3s ease;
  border-radius: 0.9em;
}

.card-img-bottom:hover {
  transform: scale(1.05);
}




