
*{
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  padding-top: 5.5em;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

html {
    overflow-x: hidden;
    padding: 0;
}

header {
    font-weight:500;
    font-size: 1.2em;
}

header .cart-button {
  color: #111;
  font-weight:500;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
}

header .cart-button:hover {
  color: #B3916F;
  background: none;
}

header .cart-button.active {
  color: #555;
  background: none;
}

.carousel-img {
  height: 35em;
  object-fit: cover;
  filter: brightness(60%);
  object-position: center;
}

.carousel-title {
  font-weight:300;
  font-size: 2.5em;
  margin-bottom: 2.5em;
}

.carousel-caption-custom {
  bottom: 20%;
}

.text-body {
  color: #222 !important;
  text-decoration: none;
}

.card-img-top {
  object-fit: cover;
  height: 20em;
}

.shop-card {
  border: none;
  border-radius: 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.shop-card:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.card-img-bottom {
  object-fit: cover;
  height: 15em;
  padding: 0.7em;
  transition: transform 0.3s ease, filter 0.5s;
  border-radius: 0.9em;
}

@media (max-width: 480px) {
  .card-img-bottom {
    height: 10em;
  }
}

.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-container:hover .card-img-bottom {
  transform: scale(1.05);
  filter: brightness(70%);
}

.image-container:hover .overlay-text {
  opacity: 1;
}

