
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

header {
    font-weight:500;
}

.carousel-img {
  height: 35em;
  object-fit: cover;
  filter: brightness(60%);
  object-position: center;

}

.carousel-title {
  font-weight:300;
  font-size: 3em;
  margin-bottom: 2em;
}

.carousel-caption-custom {
  bottom: 20%;
}

